body{
    background-color: rgb(243, 227, 208);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    width: 50%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.inputGroup{
    width: 100%;
    margin: 10px;
}

.inputGroup input{
    width: 90%;
    height: 1.5rem;
    border-radius: 5px;
    border: grey 1px solid;
}

